.mainContact {
    text-align: justify;
    margin: 15px;
    margin-top: 50px;
}

.social > a {
    text-decoration: none;
    color: white;
    font-size: 25px;
    width: 100%;
    height: 100%;
    text-align: center;
    padding-top: 40px;
}

.social > a:hover {
    background-color: #333333;
    transition: 0.25s;
}

.social {
    display: flex;
    flex-direction: column;
    height: 350px;
}

@media only screen and (min-width: 450px) {
    .social {
        min-height: 72vh;
    }
}
