.mainHome {
    font-size: 20px;
    margin: 15px;
}

.aboutMe {
    text-align: justify;
}

.aboutMe > img {
    width: 200px;
    padding-left: 80px;
}

.skills > ul > li{
    padding: 5px;
}

.skills > ul > li > ul > li{
    padding: 5px;
}

.titleSkills {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 45%;
}

@media only screen and (min-width: 450px) {
    .aboutMe {
        display: flex;
        align-items: center;
    }

    .aboutMe > section {
        padding-right: 10px;
    }

    .aboutMe > img {
        padding-right: 30px;
    }

    .skills {
        display: flex;
        justify-content: space-between;
        padding-left: 50px;
        padding-right: 1000px;
    }

    .titleSkills {
        width: 70%;
    }

    .aboutMe > img {
        height: 200px;
    }
}